[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ambit"]
	path = ambit
	url = https://github.com/cran/ambit
[submodule "trawl"]
	path = trawl
	url = https://github.com/cran/trawl
